set timefmt "%m/%d/%Y"
set format x "%m/%d"
set xdata time

set grid
set autoscale y
set title "Anzahl der Nachrichten im \"Chat\" ü Zeit"
set xlabel "Datum"
set ylabel "Anzahl an Nachrichten"
set ytic auto
unset log
unset label
set style data lines

